<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
        </div>
        <div class="col-lg-3">
            <h2>Xây dựng weg với NodeJS & ExpressJS</h2>
        </div>
    </div>
</div>