<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>HỌC NGAY</button>
        </div>
        <div class="col-lg-3">
            <h2>Xây dựng weg với NodeJS & ExpressJS</h2>
            {{! video }}
            <h2>
                Xây dựng web trong thực tế với NodeJS & ExpressJS với cách chia
                sẻ chi tiết, tận tâm, dễ hiểu và chất giọng giàu sức sống của
                người chia sẻ
            </h2>
        </div>
    </div>
</div>